html(ng-app='Estoma')
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    title Estomatologia BUAP
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/jquery-1.7.2.min.js')
    script(type="text/javascript" src="js/jquery-ui-1.8.13.custom.min.js")
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/main.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-cookies.js')
    style.
      body {
        font-size: 140%;
        font-family: "Raleway", sans-serif; 
      }
    style.
      #myCanvas {
      border: 1px solid #9C9898;
      }
      #myCanvas2 {
      border: 1px solid #9C9898;
      }
      #myCanvas3 {
      border: 1px solid #9C9898;
      }
      #myCanvas4 {
      border: 1px solid #9C9898;
      }
    
  body(ng-controller='indexController')
    header
      div
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Inicio
          li(role='presentation')#showModal
            a(href='#registrar', aria-controls='profile', role='tab', data-toggle='tab') Registar Historia Clinica
          li(role='presentation')
            a(href='#search', aria-controls='messages', role='tab', data-toggle='tab') Busqueda de Historia Clinica
          li(role='presentation')
            a(href='#queue', aria-controls='settings', role='tab', data-toggle='tab') Pacientes en Espera
        // Tab panes
        .tab-content
          #home.tab-pane.fade.in.active(role='tabpanel') 
            .container-fluid
              .jumbotron(style='margin-top:1%')
          #registrar.tab-pane.fade(role='tabpanel')
            .container-fluid
              .jumbotron(style='margin-top:1%')
                #accordion.panel-group(role='tablist', aria-multiselectable='true')
                  #FIPanel.panel.panel-default
                    #headingOne.panel-heading(role='tab')
                      h4.panel-title
                        a#Collapsible(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                          | Ficha de Identificación
                    #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                      .panel-body
                        form
                          .form-group
                            label Nombre Completo
                            .row
                              .col-md-4.col-xs-4#name
                                input.form-control(name='nombre',placeholder='Nombre',type='text',ng-change='validateInput(input.name,"name")',ng-model='input.name',ng-disabled='full')
                              .col-md-4.col-xs-4#apellidoP
                                input.form-control(name='apellidoP',placeholder='Apellido Paterno',type='text',ng-change='validateInput(input.apellidoP,"apellidoP")',ng-model='input.apellidoP',ng-disabled='full')
                              .col-md-4.col-xs-4#apellidoM
                                input.form-control(name='apellidoM',placeholder='Apelido Materno',type='text',ng-change='validateInput(input.apellidoM,"apellidoM")',ng-model='input.apellidoM',ng-disabled='full')
                          .form-group
                            .row
                              .col-md-6.col-xs-6
                                label Fecha de Nacimiento
                              .col-md-6.col-xs-6
                                label Género
                            .row
                              .col-md-6.col-xs-6#fechaNac
                                input.form-control(name='fechaNac',type='date',ng-change='validateInput(input.fechaNac,"fechaNac")',ng-model='input.fechaNac',ng-disabled='full')
                              .col-md-6.col-xs-6#genero
                                select.form-control(name='genero',ng-change='validateInput(input.genero,"genero")',ng-model='input.genero',ng-disabled='full')
                                  option(value='')
                                  option(value='0') Masculino
                                  option(value='1') Femenino
                          .form-group
                            .row
                              .col-md-6.col-xs-6
                                  label Lugar de Nacimiento
                              .col-md-6.col-xs-6
                                  label Ocupación
                            .row
                              .col-md-6.col-xs-6#lugarNac
                                input.form-control(name='lugarNac',placeholder='Lugar de Nacimiento',type='text',ng-change='validateInput(input.lugarNac,"lugarNac")',ng-model='input.lugarNac',ng-disabled='full')
                              .col-md-6.col-xs-6#ocupacion
                                input.form-control(name='ocupacion',placeholder='Ocupación',type='text',ng-change='validateInput(input.ocupacion,"ocupacion")',ng-model='input.ocupacion',ng-disabled='full')
                          .form-group
                            .row
                              .col-md-6.col-xs-6
                                label Escolaridad
                              .col-md-6.col-xs-6
                                label Estado Civil
                            .row
                              .col-md-6.col-xs-6#escolaridad
                                select.form-control(name='escolaridad',ng-change='validateInput(input.escolaridad,"escolaridad")',ng-model='input.escolaridad',ng-disabled='full')
                                  option(value='')
                                  option(value='0') Nula
                                  option(value='1') Primaria
                                  option(value='2') Secundaria
                                  option(value='3') Medio Superior
                                  option(value='4') Superior
                              .col-md-6.col-xs-6#edoCivil
                                select.form-control(name='edoCivil',ng-change='validateInput(input.edoCivil,"edoCivil")',ng-model='input.edoCivil',ng-disabled='full')
                                  option(value='')
                                  option(value='0') Soltero
                                  option(value='1') Casado
                                  option(value='2') Divorciado
                                  option(value='3') Viudo
                          .form-group
                            label Domicilio
                            .row
                              .col-md-4.col-xs-4#calle
                                input.form-control(name='calle',placeholder='Calle',type='text',ng-change='validateInput(input.calle,"calle")',ng-model='input.calle',ng-disabled='full')
                              .col-md-4.col-xs-4#exterior
                                input.form-control(name='exterior',placeholder='Número Exterior',type='text',ng-change='validateInput(input.exterior,"exterior")',ng-model='input.exterior',ng-disabled='full')
                              .col-md-4.col-xs-4#interior
                                input.form-control(name='interior',placeholder='Número Interior',type='text',ng-change='validateInput(input.interior,"interior")',ng-model='input.interior',ng-disabled='full')
                          .form-group  
                            .row
                              .col-md-6.col-xs-6#colonia
                                input.form-control(name='colonia',placeholder='Colonia',type='text',ng-change='validateInput(input.colonia,"colonia")',ng-model='input.colonia',ng-disabled='full')
                              .col-md-6.col-xs-6#cp
                                input.form-control(name='cp',placeholder='Código Postal',type='text',ng-change='validateInput(input.cp,"cp")',ng-model='input.cp',ng-disabled='full')
                          .form-group  
                            .row
                              .col-md-6.col-xs-6#estado
                                input.form-control(name='estado',placeholder='Estado',type='text',ng-change='validateInput(input.estado,"estado")',ng-model='input.estado',ng-disabled='full')
                              .col-md-6.col-xs-6#municipio
                                input.form-control(name='municipio',placeholder='Municipio',type='text',ng-change='validateInput(input.municipio,"municipio")',ng-model='input.municipio',ng-disabled='full')
                          .form-group
                            label Teléfonos
                            .row
                              .col-md-4.col-xs-4#telFijo
                                input.form-control(name='telFijo',placeholder='Fijo',type='text',ng-change='validateInput(input.telFijo,"telFijo")',ng-model='input.telFijo',ng-disabled='full')
                              .col-md-4.col-xs-4#telMovil
                                input.form-control(name='telMovil',placeholder='Móvil',type='text',ng-change='validateInput(input.telMovil,"telMovil")',ng-model='input.telMovil',ng-disabled='full')
                              .col-md-4.col-xs-4#telOficina
                                input.form-control(name='telOficina',placeholder='Oficina',type='text',ng-change='validateInput(input.telOficina,"telOficina")',ng-model='input.telOficina',ng-disabled='full')
                          .form-group
                            .row
                              .col-md-6.col-xs-6
                                label CURP
                              .col-md-6.col-xs-6
                                label E-mail
                            .row
                              .col-md-6.col-xs-6#curp
                                input.form-control(name='curp',placeholder='CURP',type='text',ng-change='validateInput(input.curp,"curp")',ng-model='input.curp',ng-disabled='full')
                              .col-md-6.col-xs-6#email
                                input.form-control(name='email',placeholder='Correo Electrónico',type='mail',ng-change='validateInput(input.email,"email")',ng-model='input.email',ng-disabled='full')
                          .form-group
                            .row
                              .col-md-6.col-xs-6
                                label Ingresos
                              .col-md-6.col-xs-6
                                label Tipo de Sangre
                            .row
                              .col-md-6.col-xs-6#ingresos
                                .input-group
                                  span#basic-addon1.input-group-addon $
                                  input.form-control(type='text', placeholder='Ingresos',name='ingresos', aria-describedby='basic-addon1',ng-change='validateInput(input.ingresos,"ingresos")',ng-model='input.ingresos',ng-disabled='full')
                              .col-md-6.col-xs-6#sangre
                                select.form-control(name='sangre',ng-change='validateInput(input.sangre,"sangre")',ng-model='input.sangre',ng-disabled='full')
                                  option(value='')
                                  option(value='0') A+
                                  option(value='1') A-
                                  option(value='2') B+
                                  option(value='3') B-
                                  option(value='4') AB+
                                  option(value='5') AB-
                                  option(value='6') O+
                                  option(value='7') O-
                          .form-group
                            .row
                              .col-md-1.col-xs-2
                                label Vacunación
                              .col-md-2.col-xs-4
                                button.btn.btn-danger(ng-click='pushVacuna()',ng-disabled='full') Agregar Vacuna 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-2.col-xs-3
                                button.btn.btn-danger(ng-click='popVacuna()',ng-disabled='full') Quitar Vacuna 
                                  span.glyphicon.glyphicon-minus
                              
                            .row
                              .col-md-4.col-xs-4(style='margin-top:1%',ng-repeat='arr in array')
                                input.form-control(type='text',id='vacuna{{arr}}',name='vacuna{{arr}}',placeholder='Nombre de Vacuna',ng-disabled='full')


                          .form-group
                            .row
                              .col-md-offset-6.col-offset-xs-1.col-md-6.col-xs-10
                                i Agregar Responsable (En caso del paciente ser menor de Edad): 
                                input(type='checkbox', ng-model='responsable',name= 'responsableCheck',ng-disabled='full') 
                          div(ng-show='responsable')
                            .form-group
                              label Nombre Completo (Datos del Responsable)
                              .row
                                .col-md-4.col-xs-4
                                  input.form-control(name='nombre',placeholder='Nombre',type='text',ng-disabled='full')
                                .col-md-4.col-xs-4
                                  input.form-control(name='apellidoP',placeholder='Apellido Paterno',type='text',ng-disabled='full')
                                .col-md-4.col-xs-4
                                  input.form-control(name='apellidoM',placeholder='Apelido Materno',type='text',ng-disabled='full')
                            .form-group
                              .row
                                .col-md-6.col-xs-6
                                  label Fecha de Nacimiento
                                .col-md-6.col-xs-6
                                  label Género
                              .row
                                .col-md-6.col-xs-6
                                  input.form-control(name='fechaNac',type='date',ng-disabled='full')
                                .col-md-6.col-xs-6
                                  select.form-control(name='genero',ng-disabled='full')
                                    option(value='')
                                    option(value='0') Masculino
                                    option(value='1') Femenino
                            .form-group
                              .row
                                .col-md-6.col-xs-6
                                    label Lugar de Nacimiento
                                .col-md-6.col-xs-6
                                    label Ocupación
                              .row
                                .col-md-6.col-xs-6
                                  input.form-control(name='lugarNac',placeholder='Lugar de Nacimiento',type='text',ng-disabled='full')
                                .col-md-6.col-xs-6
                                  input.form-control(name='ocupacion',placeholder='Ocupación',type='text',ng-disabled='full')
                            .form-group
                              .row
                                .col-md-6.col-xs-6
                                  label Escolaridad
                                .col-md-6.col-xs-6
                                  label Estado Civil
                              .row
                                .col-md-6.col-xs-6
                                  select.form-control(name='escolaridad',ng-disabled='full')
                                    option(value='')
                                    option(value='0') Nula
                                    option(value='1') Primaria
                                    option(value='2') Secundaria
                                    option(value='3') Medio Superior
                                    option(value='4') Superior
                                .col-md-6.col-xs-6
                                  select.form-control(name='edoCivil',ng-disabled='full')
                                    option(value='')
                                    option(value='0') Soltero
                                    option(value='1') Casado
                                    option(value='2') Divorciado
                                    option(value='3') Viudo
                            .form-group
                              label Domicilio
                              .row
                                .col-md-4.col-xs-4
                                  input.form-control(name='calle',placeholder='Calle',type='text',ng-disabled='full')
                                .col-md-4.col-xs-4
                                  input.form-control(name='exterior',placeholder='Número Exterior',type='text',ng-disabled='full')
                                .col-md-4.col-xs-4
                                  input.form-control(name='interior',placeholder='Número Interior',type='text',ng-disabled='full')
                            .form-group  
                              .row
                                .col-md-6.col-xs-6
                                  input.form-control(name='colonia',placeholder='Colonia',type='text',ng-disabled='full')
                                .col-md-6.col-xs-6
                                  input.form-control(name='cp',placeholder='Código Postal',type='text',ng-disabled='full')
                            .form-group  
                              .row
                                .col-md-6.col-xs-6
                                  input.form-control(name='estado',placeholder='Estado',type='text',ng-disabled='full')
                                .col-md-6.col-xs-6
                                  input.form-control(name='municipio',placeholder='Municipio',type='text',ng-disabled='full')
                            .form-group
                              label Teléfonos
                              .row
                                .col-md-4.col-xs-4
                                  input.form-control(name='telFijo',placeholder='Fijo',type='text',ng-disabled='full')
                                .col-md-4.col-xs-4
                                  input.form-control(name='telMovil',placeholder='Móvil',type='text',ng-disabled='full')
                                .col-md-4.col-xs-4
                                  input.form-control(name='telOficina',placeholder='Oficina',type='text',ng-disabled='full')
                            .form-group
                              .row
                                .col-md-6.col-xs-6
                                  label CURP
                                .col-md-6.col-xs-6
                                  label E-mail
                              .row
                                .col-md-6.col-xs-6
                                  input.form-control(name='curp',placeholder='CURP',type='text',ng-disabled='full')
                                .col-md-6.col-xs-6
                                  input.form-control(name='email',placeholder='Correo Electrónico',type='mail',ng-disabled='full')
                            .form-group
                              .row
                                .col-md-6.col-xs-6
                                  label Ingresos
                                .col-md-6.col-xs-6
                                  label Tipo de Sangre
                              .row
                                .col-md-6.col-xs-6
                                  .input-group
                                    span#basic-addon1.input-group-addon $
                                    input.form-control(type='text', placeholder='Ingresos',name='ingresos', aria-describedby='basic-addon1',ng-disabled='full')
                                .col-md-6.col-xs-6
                                  select.form-control(name='sangre',ng-disabled='full')
                                    option(value='')
                                    option(value='0') A+
                                    option(value='1') A-
                                    option(value='2') B+
                                    option(value='3') B-
                                    option(value='4') AB+
                                    option(value='5') AB-
                                    option(value='6') O+
                                    option(value='7') O-

                          .form-group
                            .row
                              .col-md-10.col-md-offset-1.col-xs-10.col-xs-offset-1
                                button#btnSaveFI.btn.btn-primary.btn-lg.btn-block(type='submit',ng-click='saveFicha()',ng-disabled='full') Guardar Ficha de Identificación





                  .panel.panel-default
                    #headingTwo.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                          | Antecedentes Heredofamiliares
                    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                      .panel-body
                        form
                          .form-group
                            .row
                              .col-md-12
                                i Marca los antecedentes que se encuentren  presentes en abuelos, padres, tíos o hermanos y especifíca quien los padece ó ha padecido.
                          
                          //Antecedentes Cardiovasculares
                          .form-group 
                              label Cardiovasculares
                            .row
                              .col-md-3.col-xs-4.checkbox(style='margin-top:0%')
                                label
                                  input(type='checkbox', ng-model='hipertension', value='Hipertensión Arterial')
                                |  Hipertensión Arterial
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='cardiopatia', value='Cardiopatía Isquémica')
                                |  Cardiopatía Isquémica
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='otros1')
                                |  Otros

                          .form-group(ng-show='otros1',style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushEnfCardio()') Agregar Enfermedad 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popEnfCardio()') Quitar Enfermedad 
                                  span.glyphicon.glyphicon-minus
                            .row()
                                .col-md-4.col-xs-6(ng-repeat='enf in enfCardio',style='margin-top:1%')
                                  input.form-control(type='text',placeholder='Enfermedad',id='enfermedadCardio{{enf}}')  
                          .form-group(style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushFamCardio()') Agregar Familiar 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popFamCardio()') Quitar Familiar
                                  span.glyphicon.glyphicon-minus
                            .row()
                              .col-md-4.col-xs-6(ng-repeat='fam in famCardio',style='margin-top:1%')
                                select.form-control(id='familiarCardio{{fam}}')
                                    option(value='') ¿Quién los padece?
                                    option(value='0') Abuelos
                                    option(value='1') Padres
                                    option(value='2') Hermanos
                                    option(value='3') Tíos

                          // Antecedentes Endocrinos
                          .form-group 
                              label Endócrinos
                            .row
                              .col-md-3.col-xs-4.checkbox(style='margin-top:0%')
                                label
                                  input(type='checkbox', ng-model='diabetes', value='Diabetes Mellitus')
                                |  Diabetes Mellitus
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='tiroideas', value='Enfermedades Tiroideas')
                                |  Enfermedades Tiroideas
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='otros2')
                                |  Otros

                          .form-group(ng-show='otros2',style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushEnfEndo()') Agregar Enfermedad 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popEnfEndo()') Quitar Enfermedad 
                                  span.glyphicon.glyphicon-minus
                            .row()
                                .col-md-4.col-xs-6(ng-repeat='enf in enfEndo',style='margin-top:1%')
                                  input.form-control(type='text',placeholder='Enfermedad',id='enfermedadEndo{{enf}}')  
                          .form-group(style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushFamEndo()') Agregar Familiar 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popFamEndo()') Quitar Familiar
                                  span.glyphicon.glyphicon-minus
                            .row()
                              .col-md-4.col-xs-6(ng-repeat='fam in famEndo',style='margin-top:1%')
                                select.form-control(id='familiarEndo{{fam}}')
                                    option(value='') ¿Quién los padece?
                                    option(value='0') Abuelos
                                    option(value='1') Padres
                                    option(value='2') Hermanos
                                    option(value='3') Tíos

                          // Antecedentes Neurológicos
                          .form-group 
                              label Neurológicos
                            .row
                              .col-md-3.col-xs-4.checkbox(style='margin-top:0%')
                                label
                                  input(type='checkbox', ng-model='migrana', value='Migraña')
                                |  Migraña
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='epilepsia', value='Epilepsia')
                                |  Epilepsia
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='depresivas', value='Enfermedades Depresivas')
                                |  Enfermedades Depresivas
                              
                          .form-group(style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushFamNeuro()') Agregar Familiar 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popFamNeuro()') Quitar Familiar
                                  span.glyphicon.glyphicon-minus
                            .row()
                              .col-md-4.col-xs-6(ng-repeat='fam in famNeuro',style='margin-top:1%')
                                select.form-control(id='familiarNeuro{{fam}}')
                                    option(value='') ¿Quién los padece?
                                    option(value='0') Abuelos
                                    option(value='1') Padres
                                    option(value='2') Hermanos
                                    option(value='3') Tíos
                                    
                          // Antecedentes Respiratorios
                          .form-group 
                              label Respiratorios
                            .row
                              .col-md-3.col-xs-4.checkbox(style='margin-top:0%')
                                label
                                  input(type='checkbox', ng-model='asma', value='Asma')
                                |  Asma
                              
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='otros3')
                                |  Otros

                          .form-group(ng-show='otros3',style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushEnfResp()') Agregar Enfermedad 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popEnfResp()') Quitar Enfermedad 
                                  span.glyphicon.glyphicon-minus
                            .row()
                                .col-md-4.col-xs-6(ng-repeat='enf in enfResp',style='margin-top:1%')
                                  input.form-control(type='text',placeholder='Enfermedad',id='enfermedadResp{{enf}}')  
                          .form-group(style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushFamResp()') Agregar Familiar 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popFamResp()') Quitar Familiar
                                  span.glyphicon.glyphicon-minus
                            .row()
                              .col-md-4.col-xs-6(ng-repeat='fam in famResp',style='margin-top:1%')
                                select.form-control(id='familiarResp{{fam}}')
                                    option(value='') ¿Quién los padece?
                                    option(value='0') Abuelos
                                    option(value='1') Padres
                                    option(value='2') Hermanos
                                    option(value='3') Tíos


                          // Antecedentes Neoplásicos
                          .form-group 
                              label Neoplásicos
                            .row
                              .col-md-3.col-xs-4.checkbox(style='margin-top:0%')
                                label
                                  input(type='checkbox', ng-model='cancer', value='Cáncer')
                                |  Cáncer
                              .col-md-3.col-xs-4.checkbox
                                label
                                  input(type='checkbox', ng-model='tumores', value='Tumores')
                                |  Tumores
                              
                              
                          .form-group(style='margin-top:1%')
                            .row
                              .col-md-2.col-xs-5
                                button.btn.btn-danger(ng-click='pushFamNeo()') Agregar Familiar 
                                  span.glyphicon.glyphicon-plus-sign
                              .col-md-3.col-xs-5
                                button.btn.btn-danger(ng-click='popFamNeo()') Quitar Familiar
                                  span.glyphicon.glyphicon-minus
                            .row()
                              .col-md-4.col-xs-6(ng-repeat='fam in famNeo',style='margin-top:1%')
                                select.form-control(id='familiarNeo{{fam}}')
                                    option(value='') ¿Quién los padece?
                                    option(value='0') Abuelos
                                    option(value='1') Padres
                                    option(value='2') Hermanos
                                    option(value='3') Tíos



                  .panel.panel-default
                    #headingThree.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                          | Antecedentes Personales No Patológicos
                    #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .panel.panel-default
                    #headingFour.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                          | Antecedentes Personales Patológicos
                    #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .panel.panel-default
                    #headingFive.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                          | Exploracion
                    #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                      .panel-body
                        #radio
                          input#radio1(type='radio', name='accion', value='fractura', checked='checked')
                          label(for='radio1') Fractura
                          input#radio2(type='radio', name='accion', value='restauracion')
                          label(for='radio2') Restauracion
                          input#radio3(type='radio', name='accion', value='borrar')
                          label(for='radio3') Borrar
                          input#radio4(type='radio', name='accion', value='extraccion')
                          label(for='radio4') Extraccion
                          input#radio5(type='radio', name='accion', value='puente')
                          label(for='radio5') Puente
                        br
                        #canvasesdiv(style='position:relative; width:810px; height:300px')
                          canvas#myCanvas(width='810', height='220', style='z-index: 1; position:absolute; left:0px; top:0px;')
                          canvas#myCanvas2(width='810', height='220', style='z-index: 2; position:absolute; left:0px; top:0px;')
                          canvas#myCanvas3(width='810', height='220', style='z-index: 3; position:absolute; left:0px; top:0px;')
                          canvas#myCanvas4(width='810', height='220', style='z-index: 4; position:absolute; left:0px; top:0px;')
                        br
                        #radio_seccion(style='display:none')
                          input#radio_1(type='radio', name='seccion', value='seccion', checked='checked')
                          label(for='radio_1') Seccion
                          input#radio_2(type='radio', name='seccion', value='diente')
                          label(for='radio_2') Diente
                  .panel.panel-default
                    #headingSix.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
                          | Estudios de Gabinete y Laboratorio
                    #collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .panel.panel-default
                    #headingSeven.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
                          | Diagnostico Definitivo
                    #collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeven')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

          #search.tab-pane.fade(role='tabpanel')
            .container-fluid
              .jumbotron(style='margin-top:1%')
          #queue.tab-pane.fade(role='tabpanel')
            .container-fluid
              .jumbotron(style='margin-top:1%')

    #alertModal.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
      .modal-dialog.modal-sm
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title.text-danger(align='center') Importante
          .modal-body
            | Recuerda que si tu paciente ya fue previamente Registrado debes Buscarlo en el apartado de "Busqueda de Historia Clínica", y sobre esa Historia realizar una nueva exploración y un nuevo diagnostico.


     // Divicion Final
    div(align='center', style="position:absolute bottom: 0; right: 0; padding: 0px; white-space: nowrap;/*  \
    normal;*/ height: auto; width: 100%; overflow: hidden; z-index: 1030; background: #1E5372; \
    color: white;  max-width: 100%;   background-image: -webkit-linear-gradient(bottom, #1E5372 0%, \
    #1E5372 100%); background-image: linear-gradient(to top, #1E5372 0%, #1E5372 100%); background-repeat: \
    repeat-x; border-radius: 1px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E5372', \
    endColorstr='#1E5372', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); \
    -webkit-box-shadow: inset 0 1px 0 #1E5372, 0 1px 5px #1E5372; box-shadow: inset 0 1px 0 #1E5372, 0 1px 5px #1E5372; ")
      img.img-responsive(src='/images/footer_estoma.png', alt='Responsive image',width='80%', height='80%')
    // <fin footer